<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin-layout.html::main-fragment(~{::title},~{::#patients-main-content})}">
<head>
    <meta charset="UTF-8">
    <title>Gestion des patients</title>
</head>
<body>
<div id="patients-main-content">
    <h2 class>Gestion des patients</h2>
    <a class="btn btn-success btn-sm my-3" href="/admin/patients/edit/0">Ajouter un patient</a>
    <table class="table">
        <thead>
        <tr>
<!--            <th>Id</th>-->
            <th>Prénom</th>
            <th>Nom</th>
            <th>Mail</th>
<!--            <th>Anamnèse</th>-->
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
<!--            <td th:text="${patient.id}"/>-->
            <td th:text="${patient.prenom}"/>
            <td th:text="${patient.nom}"/>
            <td th:text="${patient.mail}"/>
<!--            <td th:text="${patient.anamnese}"/>-->
            <td>
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                <a th:href="@{/admin/patients/edit/{id}(id=${patient.id})}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>