<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin-layout.html::main-fragment(~{::title},~{::#add-question-admin-content})}">

<head>
    <meta charset="UTF-8">
    <title>Ajouter un question</title>
</head>

<body>
<div id="add-question-admin-content">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-10 card px-3 py-5">
    <h2 class>Ajouter une question</h2>
    <form method="post" th:action="@{/admin/questions/add}" th:object="${formquestion}">
        <div class="d-flex">
        <div class=" col-12 col-md-4 p-2">
            <label for="rankOrder" class="form-label">Rang</label>
            <input type="number" th:field="*{rankOrder}" id="rankOrder" class="form-control" th:errorclass="is-invalid" />
            <p th:if="${#fields.hasErrors('rankOrder')}" th:errors="*{rankOrder}" class="text-danger small" />
        </div>
        <div class=" col-12 col-md-4 p-2">
            <label for="type" class="form-label">Type de question</label>
            <select th:field="*{type}" id="type" class="form-control" th:errorclass="is-invalid">
                <option value="QCM">Question à choix multiples</option>
                <option value="RADIO">Radio</option>
                <option value="TEXT">Zone de texte</option>
            </select>
            <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="text-danger small" />
        </div>
            <div class=" col-12 col-md-4 p-2">
            <label for="formulaire" class="form-label">Formulaire</label>
            <select th:field="*{formulaire}" id="formulaire" class="form-control" th:errorclass="is-invalid">
                <option value="ANAMNESE">Anamnèse</option>
                <option value="SIXMOIS">Questionnaire à six mois</option>
            </select>
            <p th:if="${#fields.hasErrors('formulaire')}" th:errors="*{formulaire}" class="text-danger small" />
        </div>
        </div>
        <div class="mb-2 p-2">
            <label for="question" class="form-label">Intitulé de la question</label>
            <input type="text" th:field="*{question}" id="question" class="form-control" th:errorclass="is-invalid" min="0" step="0.01">
            <p th:if="${#fields.hasErrors('question')}" th:errors="*{question}" class="text-danger small" />
        </div>

        <input type="submit" class="btn btn-success col-md-2 offset-md-5 mt-3" value="Ajouter"/>
    </form>
</div>
</div>
</div>
</body>
</html>