<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{admin-layout.html::main-fragment(~{::title},~{::#questions-main-content})}">
<head>
    <meta charset="UTF-8">
    <title>Gestion des questions</title>
</head>
<body>
<div id="questions-main-content">
    <h2 class>Gestion des questions</h2>
    <a class="btn btn-success btn-sm my-3" href="/admin/questions/edit/0">Ajouter une question</a>
    <table class="table">
        <thead>
        <tr>
<!--            <th>Id</th>-->
            <th>Rang</th>
            <th>Question</th>
            <th>Type de question</th>
            <th>Formulaire</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
<!--            <td th:text="${question.id}"/>-->
            <td th:text="${question.rankOrder}"/>
            <td th:text="${question.question}"/>
            <td th:text="${question.type}"/>
            <td th:text="${question.formulaire}"/>
            <td class="d-flex">
                <a href="#" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                <a th:href="@{/admin/questions/edit/{id}(id=${question.id})}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                <a th:href="@{/admin/questions/delete/{id}(id=${question.id})}" class="btn btn-danger"><i class="fa-solid fa-trash" th:onclick="return confirm('Etes-vous sûr(e) de vouloir supprimer cette entrée?')"></i></a>
           </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>