<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center">
            <img src="../static/images/logo.png" alt="Logo de serenisson" width="50%">
        </td>
    </tr>
    <tr>
        <td>
            <h1 style="text-align:center;">Bonjour NOM PRENOM</h1>
        </td>
    </tr>
    <tr>
        <td>
            <p style="text-align:center;">
                Afin de preparer votre premier rendez-vous veuillez s'il vous plait cliquez sur le lien ci-dessous et remplir le formulaire:<br><br>
                <a style="background :green; border-radius:15px; color:white ; font-size: 1rem; padding: 5px " href="">Se rendre au formulaire</a>

            </p>
        </td>
    </tr>
</table>