<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org" th:fragment="main-fragment(titre,maincontent)">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <title>Serenisson</title>
    <!-- Meta viewport -->
</head>
<style>

</style>
<body>
<header>
    <img src="./Assets/LOGO.png" title="Logo">
</header>
<div>
    <h1>Question</h1>
    <div>Choix 1</div>
    <div>Choix 2</div>
    <div>Choix 3</div>
    <div>Choix 4</div>
    <div>
        <button>Précédent</button>
        <button>Suivant</button>
    </div>
</div>

</body>
</html>